/*SELETORES POR TAG*/
body{
    background-color: rgb(107, 107, 241);
    font: normal 15pt arial;
}

header{
    color: white;
    text-align: center;

}

section{
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.596);
}

footer{
    color: white;
    text-align: center;
    font-style: italic;

}

/*SELETORES POR ID*/
#txtn{
    padding: 5px;
    border-top: solid 1px;
    border-bottom: solid 1px;
    border-left: solid 1px;
    border-right: 0px;
    border-radius: 5px 0px 0px 5px;
}

#botao{
    padding: 5px;
    border-radius: 0px 5px 5px 0px;
    border-top: solid 1px;
    border-bottom: solid 1px;
    border-left: solid 1px;
    border-right: solid 1px;
    border-color: black;
    color: blue;
    font-weight: 700;
    background-color: white;
}

#botaoLimpar{
    padding: 5px;
    border-radius: 5px 5px 5px 5px;
    border-color: black;
    font-weight: 700;
    color: blue;
}